// Home screen styles
// ==================

@import 'dirg';
@import 'bezier-curve';
@import 'colors';

.inputContaine {
  .input[type=checkbox] {
    height: units(1);
    width: units(1);
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      transition: .8s $bezier-curve;
      opacity: 0;
    }

    &:active,
    &:checked {
      border-color: rgba($white, .1);
    }

    &:checked {
      &::before {
        height: units(.625);
        width: units(.625);
        background-color: rgba($white, .5);
        opacity: 1;
      }
    }

    & + .label {
      margin-left: units(.375);
    }
  }
}
