// Home screen styles
// ==================

@import 'dirg';
@import 'bezier-curve';
@import 'colors';

.inputContaine {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  & + .inputContaine {
    margin-top: units(.75)
  }

  .input {
    @include font-size(0);
    border: 1px solid rgba($white, .3);
    color: $white;
    outline: none;
    z-index: 1;
    position: relative;
    background: none;
    transition: 0.2s $bezier-curve;
  }

  .label {
    font-size: font-scale(0);
    color: $white;
  }
}

@import 'text-field';
@import 'checkbox';
