// Home screen styles
// ==================

@import 'dirg';
@import 'bezier-curve';
@import 'colors';

.inputContaine {
  .input[type=text] {
    width: 100%;
    height: units(2.25);
    padding-left: units(.5);

    &:focus {
      border-color: rgba($white, .1);

      ~ .label {
        color: $white;
        transform: translate(2%, -50%) scale(0.8);
      }

      ~ .bar {
        &:before{
          width: 100%;
        }
      }
    }

    &:valid {
      ~ .label {
        color: $white;
        transform: translate(2%, -50%) scale(0.8);
      }
    }

  ~ .label {
      transition: 0.2s $bezier-curve;
      position: absolute;
      top: 0;
      left: 0;
      line-height: units(2.25);
      transform: translateX(units(.5));
    }
  }

  .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;

    &:before {
      content: '';
      position: absolute;
      background: $white;
      width: 0;
      height: 1px;
      transition: .2s ease;
    }

    &:before {
      left: 0;
    }
  }
}
