// Home screen styles
// ==================

@import 'dirg';
@import 'bezier-curve';
@import 'colors';

.widgetWrapper {
  transition: all 1s $bezier-curve;
  transform: translateY(-#{units(4)});
  display: flex;
  position: relative;
  perspective: columns(7);
  width: 100%;
  height: 100%;
  max-width: columns(5);
  max-height: columns(2.825);

  .widget {
    transform-style: preserve-3d;
    transition: transform .5s $bezier-curve;
    background-color: $white;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
    flex: 1;

  }

  .widgetFront,
  .widgetBack {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .widgetBack {
    transform: rotateY( 180deg );
  }

  .widgetFlipped {
    transform: rotateY( -180deg );
  }

  .widgetHeader {
    padding: units(.75) units(.75) 0;
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  .widgetFooter {
    text-align: right;
  }

  .footerButton {
    @include font-size(0)
    padding: units(.5);
  }
}
