// Weather styles
// ==================

@import 'dirg';
@import 'bezier-curve';
@import 'colors';

.weather {
  flex: 3;
  background-color: $second;
  background-image: linear-gradient(to bottom, $second ,$third);
  padding: units(.75) units(.25) units(.75) units(.875);
  min-height: columns(1.75);
  display: flex;
  align-items: center;

  &::after {
    @include font-size(1);
    content: "Loading...";
    transform: translateX(-#{units(.5)});
  }
}

.weatherDataLoaded,
.weatherDataNotLoaded {
  &::after{
    content: none;
    opacity: 0;
    position: absolute;
  }

  .innerWeather {
    opacity: 1;
  }

  .iconWeapper {
    transform: translateX(0);
  }
}

.innerWeather {
  display: flex;
  align-items: center;
  opacity: 0;
  transition: all 1.5s $bezier-curve;
}

.iconWeapper {
  @include font-size(5);
  transform: translateX(-150%);
  transition: all 1s $bezier-curve;

  .weatherDataNotLoaded & {
    display: none;
  }
}

.infoWrapper {
  @include font-size(1);
  padding-left: units(.75);
  text-align: center;
  position: relative;
  transition: all .5s $bezier-curve;
  transform: translateY(units(.5));

  .showWind & {
    transform: translateY(0);
  }

  .weatherDataNotLoaded & {
    display: none;
  }
}

.windWrapper {
  opacity: 0;
  transition: all .5s;

  .showWind & {
    opacity: 1;
  }
}

.temp {
  @include font-size(5);
}

.sup {
  font-size: font-scale(4);
  vertical-align: top;

  .weatherDataNotLoaded & {
    display: none;
  }
}
