// Root app wrapper styles
// =======================

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: 'Roboto', 'Helvetica Neue', 'Lucida Grande', sans-serif;
}
