// Home screen styles
// ==================

@import 'dirg';
@import 'colors';

.Time {
  @include font-size(0);
  text-align: center;
  background-color: $first;
  background-image: linear-gradient(to bottom, $first, $forth);
  padding-left: units(.75);
  padding-right: units(.75);
  display: flex;
  align-items: center;
}

.Clock {
  @include font-size(4);
}
