// Back Body styles
// ==================

@import 'dirg';
@import 'colors';

.iconButton {
  display: flex;
  color: $shade-2;
  padding: units(.125) units(.25);
  border-radius: units(.125);
  box-shadow: 0 0 4px 0 rgba(0,0,0,.10);
  border: 1px solid $shade-1;

  &:hover {
    box-shadow: 0 0 4px 0 rgba(0,0,0,.25);
  }

  &:active {
    transform: translate(1px, -1px);
    box-shadow: 0 0 4px 0 rgba(0,0,0,.15);
  }
}
