// Back Body styles
// ==================

@import 'dirg';
@import 'bezier-curve';
@import 'colors';

.WidgetBody {
  margin-top: units(.5);
  background-color: $first;
  background-image: linear-gradient(to bottom, $first, $forth);
  padding: units(1.5);
}

.embedSection {
  @include font-size(0);
  padding: units(.5);
  background-color: $white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 130%;
  padding: units(.5) units(1);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  transition: all .8s $bezier-curve;
  visibility: hidden;
  opacity: 0;

  &.showEmbedSection {
    transform: translate(-50%, units(4));
    visibility: visible;
    opacity: 1;
  }
}

.pre {
  margin-top: units(.5);
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
  background-color: $shade-1;
  padding: units(.5);
}
